<ion-header class="card-background-page">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [text]="''"></ion-back-button>
        </ion-buttons>
        <ion-title>订单管理</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <NoticeBar *ngIf="!isMobile"
    style="margin-bottom: 10px"
    [option]="{'content':'该组件只支持Touch事件，请使用移动模式/设备打开此页。', 'marqueeProps': {fps: 100}}"
    ></NoticeBar>
    <PullToRefresh [ngStyle]="dtPullToRefreshStyle"
            [direction]="state.direction"
            [(ngModel)]="state.refreshState"
            [endReachedRefresh]="state.endReachedRefresh"
            (onRefresh)="pullToRefresh($event)">


    <ion-list>
        <ion-item-sliding>
            <div class="order_list" *ngFor="let item of Data; let i=index">
                <ion-item lines="none">
                    <ion-img style="width: 80px; height:80px; margin:10px 5px 10px 0;"
                        [src]="item.com_img ? item.com_img[0] : ''">
                    </ion-img>
                    <ion-label class="shop_info_right">
                        <!-- 商品名称 -->
                        <div class="shop_info_title">
                            商品名称:{{item.com_name}}
                        </div>
                        <div style="line-height: 25px;">
                            <ion-label style="font-size:16px;color: #FB1A38;float: left" [hidden]="item.pay_type === '2'">余额:{{item.pay_money}}</ion-label>
                            <ion-label style="font-size:16px;color: #FB1A38;float: left" [hidden]="item.pay_type === '1'">积分:{{item.pay_money}}</ion-label>
                            <ion-label style="color: #999;float: right">X{{item.com_num}}</ion-label>
                        </div>
                    </ion-label>
                </ion-item>
                <div>
                    <span class="default" (click)="post(item)" color="danger" style="float: right" [hidden]="item.fictitious !== '1' || item.status === '2'">发货</span>
                    <span class="default" color="danger" style="float: right"  (click)="orderDetail(item)">查看订单</span>
                    <!-- <span class="default" (click)="delete(0)" color="danger" style="float: right">删除</span> -->
                </div>
            </div>

            </ion-item-sliding>
    </ion-list>

</PullToRefresh>

</ion-content>