<ion-header class="card-background-page">
    <ion-toolbar color="primary">
        <!-- <ion-buttons slot="start">
          <ion-button (click)="cancel()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons> -->
        <ion-buttons slot="start">
            <ion-back-button [text]="''" id="backButton"></ion-back-button>
        </ion-buttons>
        <ion-title>收货地址</ion-title>

        <ion-label slot="primary" style="padding-right: 5px;" (click)="newAddress()">
            <!-- <p color="dark">添加新地址</p> -->
            <ion-icon name="add-circle-outline"></ion-icon>
        </ion-label>
    </ion-toolbar>


</ion-header>

<ion-content fullscreen=true>
    <!-- List of Sliding Items -->
    <ion-list class="content_list" style="background: #F4F3F3" mode="ios">
        <ion-item-sliding *ngFor="let item of Data; let i=index">
            <ion-item class="item-con"  lines="none" >
                <ion-card style="width: 100%">
                    <ion-item lines="none">
                        <ion-label style="margin-bottom:5px" (click)="onClick(item)">
                            <h3 class="float-left">{{item.name}}</h3><span class="address_tel">{{item.telephone}}</span>
                            <span class="default" [hidden]="item.zt_ !== '1'">默认</span>
                        </ion-label>
                        <ion-icon name="create" class="edit" (click)="editAddress(item.address_id)"  ></ion-icon>
                        <ion-icon name="trash" class="del" (click)="delete(item.address_id)"></ion-icon>
                    </ion-item>
                    <ion-card-content  style="padding:0 16px 10px;font-size: 12px">
                        {{item.address}}
                    </ion-card-content>
                </ion-card>
            </ion-item>
        </ion-item-sliding>


    </ion-list>


</ion-content>