<ion-header>

  <ion-toolbar>
      <ion-buttons slot="start" routerDirection="back">
          <ion-back-button [text]="'返回'"></ion-back-button>
        </ion-buttons>
    <ion-title>商品详情</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="下拉刷新..."
        refreshingSpinner="circles"
        refreshingText=" 加载中...">
      </ion-refresher-content>
    </ion-refresher>

<div [hidden]="showPage">
  
<ion-slides>
    <ion-slide>
        <ion-img [routerLink]="['/shop-diy']" [src]="Data.images"></ion-img>      
  </ion-slide>
</ion-slides>



<ion-grid fixed padding>
  <ion-row>
    <ion-col><ion-label>{{Data.name}}</ion-label></ion-col>
    <ion-col style="text-align: right;">
      <ion-label>{{Data.fictitious === '1' ? '实物' : '虚拟物品'}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
        <ion-label [hidden]="Data.mode == 2">￥:{{Data.price}}</ion-label>
        <ion-label [hidden]="Data.mode == 1">积分:{{Data.price}}</ion-label>
      </ion-col>
    </ion-row>
</ion-grid>


<ion-item>
  <ion-label position="stacked">商品详情：</ion-label>
  <div [innerHtml]="assembleHTML(Data.content)"></div>
</ion-item>

<div style="position: fixed; bottom:0px; width: 100%; background-color:white;">
    <ion-button style="float: right; width: 50%" (click)="buy()">购买</ion-button>
</div>

</div>



</ion-content>
