<ion-header>

  <ion-toolbar>
      <ion-buttons slot="start" routerDirection="back">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>商品详情</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

<ion-slides>
    <ion-slide>
        <ion-img [routerLink]="['/shop-diy']" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562263277253&di=ff7ee016348cc620a05450c0d5befc82&imgtype=0&src=http%3A%2F%2Fres.cngoldres.com%2Fupload%2F2018%2F1123%2F1c9a79abc6533ea404fb6c607acd38a3.jpg%3F_%3D1542942229234"></ion-img>      
  </ion-slide>
</ion-slides>


</ion-content>
