<ion-header class="card-background-page">
    <ion-toolbar color="primary">
        <ion-title [hidden]="!data.id">修改收货地址</ion-title>
        <ion-title [hidden]="data.id">新增收货地址</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="item_content_list">
        <form>
            <ion-item>
                <ion-label>
                    收货人:
                </ion-label>
                <ion-input required type="text" [placeholder]="'请输入收货人名字'">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label>
                    手机号:
                </ion-label>
                <ion-input type="tel" placeholder="请输入手机号" maxlength="11" required=true >
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label>
                    所在地址:
                </ion-label>
                <ion-input required  type="text" [placeholder]="'请输入收货人名字'" >
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-textarea placeholder="请输入详细地址"></ion-textarea>
            </ion-item>

                <ion-item>
                        <ion-label>设置默认地址</ion-label>
                        <ion-toggle name="cherry" color="primary" ></ion-toggle>
                    </ion-item>


            <div class="login_btn">
                <ion-button expand="block" color="primary" class="active_button" type="submit" [disabled]="">
                    保存
                </ion-button>
                <ion-button expand="block" class="courr_button" (click)="cancel()">
                    取消
                </ion-button>
            </div>
        </form>
    </div>
</ion-content>