<ion-header class="card-background-page">
    <ion-toolbar color="primary">
        <ion-buttons slot="start" routerDirection="back">
            <ion-back-button [text]="''"></ion-back-button>
        </ion-buttons>
        <ion-title>确认订单</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="background: #F4F3F3">
    <div class="confirm_add" [hidden]="shopData.fictitious === '2'" (click)="selectAddress()">
        <ion-item lines="none" >
            <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
            <ion-label [hidden]="noAddress">
                <h3>{{DefaultAddress.name}} <span style="font-size: 12px;color:#666">{{DefaultAddress.telephone}}</span></h3>
                <ion-card-content style="padding: 0;font-size:12px;">
                    {{DefaultAddress.address}}
                </ion-card-content>
            </ion-label>
            <ion-label [hidden]="!noAddress">
                <ion-card-content style="padding: 0;font-size:12px;">
                        请先添加收货地址
                </ion-card-content>
            </ion-label>
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-item>
    </div>


    <ion-item class="shop_con" lines="none">

        <ion-img style="width: 80px; height:80px; margin:10px 5px 10px 0;"
            [src]="shopData.images ? shopData.images[0] : ''">
        </ion-img>
        <ion-label class="shop_info_right">
            <!-- 商品名称 -->
            <div class="shop_info_title">
                {{shopData.name}}
            </div>
            <div style="overflow: hidden;">
                <div style="line-height: 25px;width: 50%;float: left;">
                    <ion-label style="font-size:16px;color: #FB1A38" [hidden]="shopData.mode === '2'">￥:{{shopData.price}}</ion-label>
                    <ion-label style="font-size:16px;color: #FB1A38" [hidden]="shopData.mode === '1'">积分:{{shopData.price}}</ion-label>
                </div>
                <div class="num_box">
                    <ion-label class="num_btn add_btn" (click)="addShop(true)">+</ion-label>
                    <input id="num_input" class="num_input" [(ngModel)]="Data.num">
                    <ion-label class="num_btn del_btn " (click)="addShop(false)">-</ion-label>
                </div>
            </div>


        </ion-label>
    </ion-item>
    <!-- <ion-item  lines="none">
        <ion-label>配送方式</ion-label>
        <ion-input required type="text" [placeholder]="'普通快递'"></ion-input>
        <ion-label>快递免邮</ion-label>
    </ion-item> -->
    <ion-item  lines="none">
        <ion-label>订单备注</ion-label>
        <ion-textarea placeholder="选填" name="remark" [(ngModel)]="Data.remark"></ion-textarea>
    </ion-item>
    <ion-item  lines="none" >
        <ion-label>
        <p style="text-align: right"><span style="color: #999;font-size:12px; margin-right:5px;">共计{{Data.num}}件</span><span style="color: #333;">小计：</span><b style="color:#FB1A38">{{Data.num * shopData.price}}</b></p>
        </ion-label>
    </ion-item>
    <ion-item lines="none" style="margin-bottom: 45px; text-align: right;" [hidden]="shopData.type !== '1'" (click)="showContract(shopData.id)">
        <ion-label>同意合同协议</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="Data.agree"></ion-checkbox>
    </ion-item>
    <div style="position: fixed; bottom:0px; width: 100%; background-color:white;">
        <div class="total">合计：<span class="pice">{{Data.num * shopData.price}}</span></div>
        <div class="confirm_btn" color="primary" (click)="buy()">确定</div>
    </div>

</ion-content>