<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新..."
      refreshingSpinner="circles"
      refreshingText=" 加载中...">
    </ion-refresher-content>
  </ion-refresher>


  <!-- 轮播图 -->
    <ion-slides mode="ios" pager="ios">
      <ion-slide *ngFor="let item of Data.banner;let i = index"  tappable >
        <ion-img [src]="item.picture"></ion-img>         
      </ion-slide>
    </ion-slides>
    <!-- <ion-slides mode="ios" pager="ios">
        <ion-slide  tappable >
          <ion-img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1563424326&di=b414d3f72a7fa98e77bd8c9e2ef76ca2&imgtype=jpg&er=1&src=http%3A%2F%2Fimg1.gtimg.com%2Fauto%2Fpics%2Fhv1%2F78%2F169%2F985%2F64092798.jpg"></ion-img>         
        </ion-slide>
        <ion-slide  tappable >
            <ion-img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1563424326&di=b414d3f72a7fa98e77bd8c9e2ef76ca2&imgtype=jpg&er=1&src=http%3A%2F%2Fimg1.gtimg.com%2Fauto%2Fpics%2Fhv1%2F78%2F169%2F985%2F64092798.jpg"></ion-img>         
          </ion-slide>
      </ion-slides> -->
  <!-- 轮播图 -->

  <!-- <ion-grid fixed class="text-center">
      <ion-row>
        <ion-col [routerLink]="['/cash-detail/cash']">
          <p>余额:{{userInfo.cash}}</p>
        </ion-col>
        <ion-col [routerLink]="['/cash-detail/integral']">
          <p>积分:{{userInfo.integral}}</p>
        </ion-col>
      </ion-row>
    </ion-grid> -->
    
    <ion-grid fixed class="text-center">
      
        <ion-row>
            <ion-col [routerLink]="['/order-list']">
                <ion-img [src]="'/assets/images/shop.png'" class="icon_box"></ion-img>
                <p>进入订单列表页</p>
            </ion-col>
            <ion-col [routerLink]="['/order-detail']">
                <ion-img [src]="'/assets/images/shop.png'" class="icon_box" ></ion-img>
                <p>进入订单详情页</p>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col [routerLink]="['/my-shop']" [hidden]="userInfo.is_dailishang != '2'">
                <ion-img [src]="'/assets/images/shop.png'" class="icon_box"></ion-img>
                <p>店铺</p>
            </ion-col>
            <ion-col (click)="gomodal('set-up-shop')" [hidden]="userInfo.is_dailishang == '2'">
                <ion-img [src]="'/assets/images/shop.png'" class="icon_box" ></ion-img>
                <p>申请开店</p>
            </ion-col>
            <ion-col [routerLink]="['/wealth']">
                <ion-img [src]="'/assets/images/banck.png'" class="icon_box"></ion-img>
                <p>充值</p>
            </ion-col>
            <ion-col [routerLink]="['/invitation']">
                <ion-img [src]="'/assets/images/code.png'" class="icon_box"></ion-img>
                <p>邀请</p>
            </ion-col>
        </ion-row>
        <!-- <ion-row>
        <ion-col [routerLink]="['/borrow']">
            <p>借呗</p>
        </ion-col>
        </ion-row> -->
    </ion-grid>

    <!-- 推荐商品 -->
    <ion-grid class="shop_list">
        <ion-row>

            <ion-col size="6" [routerLink]="[ '/shop-info/', item.id]" *ngFor="let item of Data.shop; let i=index">
                <ion-card>
                    <ion-img [src]="item.images" class="img_box"></ion-img>
                    <ion-card-content>{{item.name}}</ion-card-content>
                    <ion-card-header>
                        <ion-card-title>
                            <span class="price" [hidden]="">￥:{{item.price}}</span>
                        </ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>

        </ion-row>
    </ion-grid>




  <!--<ion-button [routerLink]="['/login']" [queryParams]="{aid:'1234'}">-->
  <!-- <ion-button [routerLink]="['/login']">
    跳转到login
  </ion-button>
  <ion-button [routerLink]="['/reg']">
    跳转到reg
  </ion-button> -->

</ion-content>
