<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新..."
      refreshingSpinner="circles"
      refreshingText=" 加载中...">
    </ion-refresher-content>
  </ion-refresher>
  
  <!-- 轮播图 -->
    <ion-slides mode="ios" pager="ios">
      <ion-slide *ngFor="let item of Data.banner;let i = index"  tappable >
        <ion-img [src]="common.domainImg + item.picture"></ion-img>         
      </ion-slide>
    </ion-slides>
  <!-- 轮播图 -->

    <ion-grid fixed class="text-center">
      <ion-row>
        <ion-col>
          <p>订单</p>
        </ion-col>
        <ion-col [routerLink]="['/wealth']">
          <p>财富</p>
        </ion-col>
        <ion-col>
          <p>商户</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col [routerLink]="['/invitation']">
          <p>邀请</p>
        </ion-col>
        <ion-col>
          <p>客服</p>
        </ion-col>
        <ion-col [routerLink]="['/borrow']">
          <p>借呗</p>
        </ion-col>
      </ion-row>
    </ion-grid>


    <!-- 公告 -->
    <ion-list>
      <ion-header>
        <ion-toolbar>
          <ion-title>公告</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-item *ngFor="let new of Data.news;let i = index"(click)="showNew(i)">
        <ion-label>{{new.title}}</ion-label>
      </ion-item>
    </ion-list>
    <!-- 公告 -->



  <!--<ion-button [routerLink]="['/login']" [queryParams]="{aid:'1234'}">-->
  <ion-button [routerLink]="['/login']">
    跳转到login
  </ion-button>
  <ion-button [routerLink]="['/reg']">
    跳转到reg
  </ion-button>

</ion-content>
