<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      我的
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

    <ion-card mode="ios">
        <ion-item padding  style="padding-bottom: 0px;">
          <ion-img style="width: 50px;padding: 5px;" src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=418151285,2937997283&fm=26&gp=0.jpg"></ion-img>
          <ion-label><p>昵称： right</p></ion-label>
          <ion-button fill="outline" slot="end" (click)="logout()"><p padding>退出</p></ion-button>
        </ion-item> 
        <ion-item padding style="padding-top: 0px;">
            <ion-label><p>现金： 5000.00</p></ion-label>
            <ion-label><p>积分： 5000.00</p></ion-label>
        </ion-item>
      </ion-card>

      <ion-segment (ionChange)="segmentChanged($event)" value="person" padding style="padding-top: 0px;">
          <ion-segment-button value="person" >
            <ion-label>个人资料</ion-label>
          </ion-segment-button>
          <ion-segment-button value="rule">
            <ion-label>规则</ion-label>
          </ion-segment-button>
          <ion-segment-button value="about">
            <ion-label>关于我们</ion-label>
          </ion-segment-button>
      </ion-segment>

      <!-- 个人资料部分 -->
<div padding [hidden]="segment != 'person'">
    <ion-list>
        <ion-item>
          <ion-label>昵称：</ion-label>
          <ion-label class="text-right">nickName</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>手机号：</ion-label>
            <ion-label class="text-right">13888888888</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>邀请人：</ion-label>
            <ion-label class="text-right">alice</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>修改登陆密码：</ion-label>
            <ion-label class="text-right" (click)="changePws('login')">
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>修改支付密码：</ion-label>
            <ion-label class="text-right" (click)="changePws('pay')">
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>申请开店：</ion-label>
            <ion-label class="text-right" (click)="changePws('open-shop')">
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>我的店铺：</ion-label>
            <ion-label class="text-right" [routerLink]="['/my-shop']">
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>收货地址：</ion-label>
            <ion-label class="text-right" (click)="changePws('address')">
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>是否开启托管：</ion-label>
            <ion-toggle slot="end"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>注册时间：</ion-label>
            <ion-label class="text-right">2019-06-12 22:29</ion-label>
        </ion-item>
    </ion-list>
</div>
      <!-- 个人资料部分 -->

      <!-- 规则部分 -->
      <div padding [hidden]="segment != 'rule'">
          <ion-text color="primary">
            <p>rule rulerulerulerulerulerulerule</p>
          </ion-text>
      </div>
      <!-- 规则部分 -->
      
      <!-- 关于我们部分 -->
      <div padding [hidden]="segment != 'about'">
          <ion-text color="primary">
            <h1>关于我们部分</h1>
            <p>alalalalalala</p>
          </ion-text>
      </div>
      <!-- 关于我们部分 -->

</ion-content>
