.text-right{
    text-align: right;
}


.logo_bg{
    height: 100px;
    background:#FE6176;
    background-size:100% 100px;
    margin-bottom: 70px;
}

.userinfo{
    border-radius: 4px;
    margin-top: 20px;
    box-shadow:0px 3px 2px #999

} 

.userinfo .red{
    color: #FB1A38;
    font-size: 15px
}


.login_btn {
    .courr_button{
        border:none;
        --border-color:#FE6176;
        background: #fff;
        color: #FE6176;
        
        
    }
}

.item_content {
    ion-item{
        --padding-start: 0;
    }

    ion-icon{
        margin-right: 8px;
    }
}

[class^='icon'], [class*='icon'] {
    
    font-size: 24px;
}

