.card-background-page{
    ion-title{
        font-weight: normal;
        font-size: 18px;
    }

    ion-icon{
        width: 24px;
        height: 24px;
    }

}
.code_box{
    width: 200px;
    margin: 4.25em auto;
    border: 1px solid #FE6176;
}
.code_text{
    margin-top:0;
    font-weight: 600;
}