.text-right{
    text-align: right;
}

[class^='icon'], [class*='icon'] {
    
    font-size: 24px;
}
.shop_info_title{
    padding: 0;height: 40px;overflow: hidden;white-space:normal;margin-bottom: 8px;
}

.shop_info_right{
    margin-top: 0px;
    margin-bottom: 0px;
}