<ion-header class="card-background-page">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [text]="''"></ion-back-button>
        </ion-buttons>
        <ion-title>我的店铺</ion-title>
        <!-- <ion-buttons slot="primary" [routerLink]="['/manage-goods']" style="float: right;">
            <ion-label>
                <ion-icon class="iconguize"></ion-icon>
            </ion-label>
        </ion-buttons>
        <ion-buttons slot="primary" [routerLink]="['/manage-order']" style="float: right;">
            <ion-label>
                <ion-icon class="iconguize"></ion-icon>
            </ion-label>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="my_shop_info" style="border-bottom: 3px solid #ddd;margin-bottom: 15px">
        <div class="text-center">
                <img style="width: 50px;height: 50px;margin:20px auto 0;border-radius: 25px;"
                src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=418151285,2937997283&fm=26&gp=0.jpg">
                <p class="text-center" style="margin-top: 0">用户名</p>
        </div>
        
        <ion-item lines="none" style="padding-top: 0px;">
            <ion-label>
                <p class="text-center">余额： 5000.00元</p>
            </ion-label>
            <ion-label>
                <p class="text-center">积分： 5000.00</p>
            </ion-label>
        </ion-item>
        <ion-item lines="none" style="padding-top: 0px;">
            <ion-label [routerLink]="['/manage-goods']">
                <p class="text-center" style="color: cornflowerblue"><ion-icon name="list-box" style="font-size: 14px;vertical-align: middle"></ion-icon>商品管理</p>
            </ion-label>
            <ion-label [routerLink]="['/manage-order']">
                <p class="text-center" style="color: rgb(12, 158, 60)"><ion-icon name="list" style="font-size: 18px;vertical-align: middle"></ion-icon>订单管理</p>
            </ion-label>
        </ion-item>
        <!-- <ion-item padding style="padding-bottom: 0px;">
            <ion-img style="width: 50px;padding: 5px;"
                src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=418151285,2937997283&fm=26&gp=0.jpg">
            </ion-img>
            <ion-label>
                <p>昵称： right</p>
            </ion-label>
        </ion-item> -->

    </ion-list>

    <!-- 销量最好的或者新上的 商品、活动折扣-->
    <ion-list style="margin-bottom: 15px">
        <ion-item class="shop_con">
            <ion-img style="width: 80px; height:80px; margin:10px 5px 10px 0;"
                [src]="'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1564033039&di=039a2a072d8daea97b4f6035f38ac638&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.mp.itc.cn%2Fupload%2F20160415%2Fb9b14370f6b247529c8731e15c2e3ea0.jpg'">
            </ion-img>
            <ion-label class="shop_info_right">
                <!-- 商品名称 -->
                <div class="shop_info_title">
                    小牛一郎牛排 10片1500g澳洲进口牛肉家庭牛排套餐大克重 健身推荐...
                    小牛一郎牛排 10片1500g澳洲进口牛肉家庭牛排套餐大克重 健身推荐...
                </div>
                <div style="line-height: 25px;">
                    <ion-label style="font-size:16px;color: #FB1A38">￥:1288</ion-label>
                </div>

            </ion-label>
        </ion-item>
        <ion-item class="shop_con">
            <ion-img style="width: 80px; height:80px; margin:10px 5px 10px 0;"
                [src]="'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1564033039&di=039a2a072d8daea97b4f6035f38ac638&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.mp.itc.cn%2Fupload%2F20160415%2Fb9b14370f6b247529c8731e15c2e3ea0.jpg'">
            </ion-img>
            <ion-label class="shop_info_right">
                <!-- 商品名称 -->
                <div class="shop_info_title">
                    小牛一郎牛排 10片1500g澳洲进口牛肉家庭牛排套餐大克重 健身推荐...
                    小牛一郎牛排 10片1500g澳洲进口牛肉家庭牛排套餐大克重 健身推荐...
                </div>
                <div style="line-height: 25px;">
                    <ion-label style="font-size:16px;color: #FB1A38">￥:1288</ion-label>
                </div>

            </ion-label>
        </ion-item>
        <ion-item class="shop_con">
            <ion-img style="width: 80px; height:80px; margin:10px 5px 10px 0;"
                [src]="'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1564033039&di=039a2a072d8daea97b4f6035f38ac638&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.mp.itc.cn%2Fupload%2F20160415%2Fb9b14370f6b247529c8731e15c2e3ea0.jpg'">
            </ion-img>
            <ion-label class="shop_info_right">
                <!-- 商品名称 -->
                <div class="shop_info_title">
                    小牛一郎牛排 10片1500g澳洲进口牛肉家庭牛排套餐大克重 健身推荐...
                    小牛一郎牛排 10片1500g澳洲进口牛肉家庭牛排套餐大克重 健身推荐...
                </div>
                <div style="line-height: 25px;">
                    <ion-label style="font-size:16px;color: #FB1A38">￥:1288</ion-label>
                </div>

            </ion-label>
        </ion-item>
        <ion-item class="shop_con">
            <ion-img style="width: 80px; height:80px; margin:10px 5px 10px 0;"
                [src]="'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1564033039&di=039a2a072d8daea97b4f6035f38ac638&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.mp.itc.cn%2Fupload%2F20160415%2Fb9b14370f6b247529c8731e15c2e3ea0.jpg'">
            </ion-img>
            <ion-label class="shop_info_right">
                <!-- 商品名称 -->
                <div class="shop_info_title">
                    小牛一郎牛排 10片1500g澳洲进口牛肉家庭牛排套餐大克重 健身推荐...
                    小牛一郎牛排 10片1500g澳洲进口牛肉家庭牛排套餐大克重 健身推荐...
                </div>
                <div style="line-height: 25px;">
                    <ion-label style="font-size:16px;color: #FB1A38">￥:1288</ion-label>
                </div>

            </ion-label>
        </ion-item>
    </ion-list>

    <!-- <div>
        <ion-list>
            <ion-item [routerLink]="['/manage-goods']">
                <ion-label>商品管理</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/manage-order']">
                <ion-label>订单管理</ion-label>
            </ion-item>
        </ion-list>
    </div> -->

</ion-content>