<ion-header>
 
  <ion-toolbar>

      <ion-buttons slot="start" [routerLink]="['/tabs/tab1']">
        <ion-back-button></ion-back-button>
      </ion-buttons>

    <ion-title>财富</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <div padding>
    <ion-grid fixed class="text-center font-white">
      <ion-row>
        <ion-col style="background-color:mediumblue">
            <h2>3890.00</h2>
            <h2>贷款</h2> 
        </ion-col>
        <ion-col style="background-color:gold">
            <h2>0.00</h2>
            <h2>利润</h2> 
        </ion-col>
        <ion-col style="background-color:green">
            <h2>50.00</h2>
            <h2>分享</h2> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div padding>
      <ion-grid fixed class="text-center font-white">
        <ion-row>
            <ion-col style="background-color:mediumblue">
                <h2>3890.00</h2>
                <h2>返呗</h2> 
            </ion-col>
            <ion-col style="background-color:gold">
                <h2>0.00</h2>
                <h2>买呗</h2> 
            </ion-col>
            <ion-col style="background-color:green">
                <h2>50.00</h2>
                <h2>花呗</h2> 
            </ion-col>
          </ion-row>
      </ion-grid>
    </div>
</ion-content>
