<ion-header>
 
  <ion-toolbar>

      <ion-buttons slot="start" [routerLink]="['/tabs/tab1']">
        <ion-back-button></ion-back-button>
      </ion-buttons>

    <ion-title>充值</ion-title>

    <ion-buttons slot="primary" [routerLink]="['/wealth-list']">
      <ion-label>充值记录</ion-label>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-segment (ionChange)="segmentChanged($event)" value="balance" padding>
    <ion-segment-button value="balance" >
      <ion-label>余额充值</ion-label>
    </ion-segment-button>
    <ion-segment-button value="integral">
      <ion-label>积分充值</ion-label>
    </ion-segment-button>
</ion-segment>

   <!-- 余额充值 -->
   <div padding [hidden]="segment != 'balance'">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit('balance')">
      <ion-item>
        <ion-label position="floating">数量 <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="number" type="number" [ngModel]="loginForm.controls.number.value"></ion-input>
      </ion-item>
      <div>
        <ion-label position="floating">上传凭证 <ion-text color="danger">*</ion-text></ion-label>
        <ImagePicker [files]="files"
                 [selectable]="files.length < 1"
                 [multiple]="multipleTab === 1"
                 (onChange)="fileChange($event)"
                 (onImageClick)="imageClick($event)"></ImagePicker>
    </div>
      <ion-button block color="primary" type="submit" [disabled]="loginForm.invalid">
        提交
      </ion-button>
    </form>
</div>
<!-- 余额充值 -->

<!-- 积分充值 -->
<div padding [hidden]="segment != 'integral'">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit('integral')">
    <ion-item>
      <ion-label position="floating">数量(1现金=10积分) <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="number" type="number" [ngModel]="loginForm.controls.number.value"></ion-input>
    </ion-item>
    
    <!-- <ion-item>
        <ion-label position="floating">积分 <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="numbers" type="number" [disabled]="true">{{loginForm.controls.number.value * 10}} </ion-input>
    </ion-item> -->

    <div>
        <ion-label position="floating">上传凭证 <ion-text color="danger">*</ion-text></ion-label>
        <ImagePicker [files]="files"
                 [selectable]="files.length < 1"
                 [multiple]="multipleTab === 1"
                 (onChange)="fileChange($event)"
                 (onImageClick)="imageClick($event)"></ImagePicker>
    </div>

    <ion-button block color="primary" type="submit" [disabled]="loginForm.invalid">
      提交
    </ion-button>
  </form>
</div>
<!-- 积分充值 -->

</ion-content>
