<ion-header class="card-background-page">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [text]="''"></ion-back-button>
        </ion-buttons>
        <ion-title>商品管理</ion-title>
        <ion-buttons slot="primary" [routerLink]="['/manage-edit-goods']" style="float: right;">
            <ion-label>
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-label>
        </ion-buttons>

        <!-- <ion-label slot="primary" style="padding-right: 5px;" [routerLink]="['/manage-edit-goods', '0']">
        <p color="dark">添加商品</p>
      </ion-label> -->
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list style="margin-bottom: 15px">
        <ion-item-sliding>

            <div class="goods_list" *ngFor="let item of Data.shopping; let i=index">
                    <ion-item lines="none">
                        <ion-img style="width: 80px; height:80px; margin:10px 5px 10px 0;"
                            [src]="item.images[0]">
                        </ion-img>
                        <ion-label class="shop_info_right">
                            <!-- 商品名称 -->
                            <div class="shop_info_title">
                                    {{item.name}}
                                </div>
                            <div style="line-height: 25px;">
                                <ion-label style="font-size:16px;color: #FB1A38" [hidden]="item.mode == '2'">￥:{{item.price}}</ion-label>
                                <ion-label style="font-size:16px;color: #FB1A38" [hidden]="item.mode == '1'">积分:{{item.price}}</ion-label>
                            </div>
                        </ion-label>
                    </ion-item>
                    <div>
                            <span class="default edit_btn" [routerLink]="['/manage-edit-goods']" [queryParams]="{id:item.id}">修改</span>
                            <span class="default" (click)="delete(item.id)" color="danger">删除</span>
                    </div>
                </div>

        </ion-item-sliding>
        <p style="text-align: center;color: #cccccc" padding [hidden]="showPage">--暂无商品--</p>
    </ion-list>


</ion-content>